body {
	background-color: white;
}
 
.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}
p { color: #f2f2f2;}

.flex-container{
	display: flex;
}
nav ul{
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-right: 40px;
}

/** header **/
header{
	
	height: 700px;
	font-family: Calibri,sans-serif;
	
}
nav{
	padding: 12px;
	height: 100px;
	background-color: #533b4d;
}

/** logo **/
.logo-area{
	width: 188px;
	height: 41px;
	font-size: 30px;
	margin: 12px;
}
.logo-area img{
	vertical-align: middle;
	
}

.logo-area span{
	color: #cdc6cb;
	font-size: 14px;
	
	
	
}
/** menu item **/
ul{
	margin-left: 508px;
	width: 212px;
	height: 76px;

}

nav a{
	text-decoration: none;
	color: #c9c2c7;
	font-size: 30px;

}

/** banner section **/
.banner{
	background-image: url(../img/cactus.png);
	
	height: 500px;
	padding-top: 100px;
	padding-left: 50px;
	/** padding-bottom: 167px; **/
}
.banner-text{
	width: 390px;
	height: 258px;

}
.banner-text h1{
	color: #ffffff;
	font-size: 60px;
	line-height: 60px;
	padding-bottom: 42px;
}
.banner-text p{
	color: #ffffff;
	font-size: 30px;
	line-height: normal;
	padding-bottom: 40px;
	
}
.banner .banner-text a{
	background-color: #533b4d;
	color: #a99da6;
	font-size: 36px;
	display: inline-block;
	text-decoration: none;
	border-radius: 8px;
	padding-left: 25px;
	padding-right: 25px;
	
}
/** main area*/
main{
	margin-top: 105px;
}

/** section here **/
.about .col-left{
	background-image: url(../img/plants.png);
	background-repeat: no-repeat;
	width: 402px;
	height: 456px;
	margin-right: 40px;
	margin-top: 55px;

}
.about .col-right{
	background: #ffffff;
	width: 520px;
	height: 456px;
}
.about .col-right h2{
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #1d0502;
	font-size: 72px;
	text-align: center;
}
.about .col-right p{
	color: #1d0502;
	font-size: 18px;
	line-height: normal;
	font-family: Calibri, sans-serif;
}

.about .col-right .p1{
	font-size: 14px;
}

/** cactus are guide section **/
/** heading area **/
.succ-background{
	margin-top: 100px;
	background-image: url(../img/cactus-plants.png);
	height: 127px; /** 200-73= 127px**/
	padding-top: 73px;
	padding-left: 264px;
	/** use padding to increase background image size **/
	/** add spacing between the banner and the articles **/
	margin-bottom: 40px;
}
.white-label{
	background: #ffffff;
	width: 430px;
	height: 54px;
}
.white-label h3{
	font-family: 'Times New Roman', Times, serif;
	font-size: 48px;
	text-align: center;
	color: #1d0502;
}

/** article section **/
.flex-wrap-container{
	display: flex;
	flex-wrap: wrap;
}
article .article-text-1{
	font-family: Calibri, sans-serif;
	background:#9b4037;
	width: 400px; /** 480- (40+40)padding **/
	height: 420px; /** 500-(40+40)padding **/
	padding: 40px;

}
.article-text-1 h4{
	font-family: 'Times New Roman', Times, serif;
	font-size: 36px;
	color: #eee3e3;
}
.article-text-1 p{
	font-size: 16px;
	line-height: normal;
	color: #eee3e3;
}
.article-text-1 a{
	font-size: 24px;
	text-decoration: none;
	color: #eee3e3;
}

article .article-image-1{
	background-image: url(../img/palm-cactus.png);
	width: 480px;
	height: 500px;
}
article .article-image-2{
	background-image: url(../img/green-brown-vase.png);
	width: 480px;
	height: 500px;

}
article .article-text-2{
	font-family: Calibri, sans-serif;
	background:#9b4037;
	width: 400px; /** 480- (40+40)padding **/
	height: 420px;
	padding: 40px;
}
.article-text-2 h4{
	font-family: 'Times New Roman', Times, serif;
	font-size: 36px;
	color: #eee3e3;
}
.article-text-2 p{
	font-size: 16px;
	line-height: normal;
	color: #eee3e3;
}
.article-text-2 a{
	font-size: 24px;
	text-decoration: none;
	color: #eee3e3;
}

/** footer **/
footer{
	background:#ffffff;
	margin-top: 100px;
	padding-left: 40px;
	padding-right: 40px;
}
footer hr{
	border: 1px solid #1d0502;
	outline: none;
	margin-bottom: 68px;
}
.footer-logo{
	background-image: url(../img/logo-footer.png);
	background-repeat: no-repeat;
	height: 114px;
	width: 15%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-bottom: 60px;
	
}
footer .shop,
footer .about,
footer .contact{
	background:#ffffff;
	font-family: Calibri, sans-serif;
	font-size: 24px;
	color: #120502;
	line-height: normal;
	width: 280px;
	height: 300px;
	margin-left: 20px;
	text-align: center;
}
footer a{
	text-decoration: none;
	color: #120502;
}
footer p{
	color: #120502;
}
footer .shop{
	margin-left: 0;
}
.footer-bottom{
	background:#ffffff;
	width: 100%;
	height: 82px; /**80-26=54**/
	margin-top: 80px;
	margin-bottom: 26px;
	font-size: 16px;
	line-height: normal;
	color: #1d0502;
	text-align: center;
}
.container a:hover{
	border-bottom: 2px solid #a99da6;

}
.banner .banner-text a:hover{
	padding: 0 30px 0 30px;
	border-bottom: transparent;
}

